@import 'styles/_variables.scss';

.scoreWrap {

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    > div {
        flex-direction: column;
        flex: 1 1 auto;
        background-color: #fcfcfc;
        justify-content : space-between;

        padding: 4px;
        font-size: 15px;
        font-weight: 800;

        span {
            display: inline-block;
            width: 100%;
        }
    
    }

}

.score {
    background-color: white;
    padding: 8px;
    font-size: 30px;
    font-weight: 800;

}

.scoreTable {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: $white05;
    border-radius: 4px;

    > div {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-between;

        > div {
            font-size: 20px;
            font-weight: 800;
            padding: $main-padding;
        }
    }

    div.disabled {
        pointer-events: none;
        opacity: 0.7;
    }



}


