@import 'styles/_variables.scss';

.button {
    display: block;
    width: 100%;
    background-color: $purple;
    color: $white;
    margin-bottom: $main-padding;
    padding: $main-padding;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease;

    &:hover {
        color: $yellow;
        letter-spacing: 5px;
    }
}

.homeText {
    font-size: 14px;
    color: $black;
    text-align: left;
    padding: $main-padding 0;
}

.section {
    padding: 15px;
}

.header {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-items: center;
    justify-content: center;
    // min-height: 300px;


    .title {
        color: $purple;
        font-size: 28px;
        z-index: 1;
    }

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-size: 60px;
        background-image: url('/imgs/draw.svg');
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: top -20px right ;
        z-index: 0;
    }
}

.turq {
    background-color: $turquesa;
}

.rules {

    background-color: $purple;
    color: $white;

    h2 {
        font-size: 34px;
        font-weight: 700;
    }

    div {
        text-align: left;
        margin: 20px;

        h3 {
            font-size: 24px;
            margin: 10px;
        }

        svg {


            color: $turquesa;

        }
    }
}