@import 'styles/_variables.scss';

.crono {
    display: flex;
}

.timer {
    background-color: white;
    padding: 8px;
    font-size: 30px;
    font-weight: 800;

}

.ring {
    display: block;
    animation: zoominoutsinglefeatured 1s infinite;
    color: $red;
}


@keyframes zoominoutsinglefeatured {
    0% {
        opacity: 1;
        transform: scale(1,1);
    }
    50% {
        opacity: 0.4;
        transform: scale(1.03,1.03);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}
