@import 'styles/_variables.scss';

.scoreTable {
    // width: 100%;
    margin: 20px 0;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: $white05;
    border-radius: 4px;
    margin-top: $main-padding;

    > div {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: space-between;
        &:first-child {
            border-bottom: 1px solid $white;
        }

        > div {
            font-size: 14px;
            font-weight: 800;
            padding: $main-padding;
        }
    }

    div.disabled {
        pointer-events: none;
        opacity: 0.7;
    }

}    
