@import 'styles/_variables.scss';

.setupSection {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    background: $white05;
    margin-top: $main-padding;

    .title {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: $white;
        font-size: 16px;
        text-transform: uppercase;

        span {
            display: inline-block;
            min-width: 60px;
            padding: 4px;
            background-color: $black02;
            border-radius: 4px;
        }
    }

    .settings {
        position: relative;
        padding: 10px;
        
    }

}

.saveChanges {
    margin: 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $white;
    text-transform: uppercase;
    color: $purple;
    font-size: 20px;
    font-weight: bold;


    span {
        display: inline-block;
        min-width: 60px;
        line-height: initial;
        background-color: $black02;
        border-radius: 4px;
    }
}


