@import 'styles/_variables.scss';

.gameStartWrapper {
    margin: 20px 0;
}

.gameWrapper {
    padding:  0;
    margin: 20px 0;
    background-color: $white05;
    

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: $purple;
        color: $white;
        font-size: 24px;

        .team {
            display: inline-block;
            padding: 4px;
        }

        .crono {
            display: inline-block;
            min-width: 60px;
            padding: 4px;
            background-color: $black02;
            border-radius: 10px;
        }

    }

    .content {
        padding: $main-padding 0;

        .result {
            padding: 0 15px;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        font-size: 24px;
    }
}
