@import 'styles/_variables.scss';

.cookies {
    background-color: $turquesa;
    color: #683ba3;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 12px;
    color: $black;
    display: none;

    &.visible {
        display: block;
    }
}