@import 'styles/_variables.scss';

$background-color: $white;

.toolWrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    background: $background-color;
    width: 100%;
    height: 120px;
    transform: translateY(120px);
    transition: transform .4s ease;

    &.toolsVisible {
        transform: translateY(0);
    }

    .toolsContent {
        display: flex;
        
        div {
            min-height: 60px;
            flex: 1 1 auto;
            align-content: center;
            justify-content: center;
        }
    }

    .toogleTools {
        position: absolute;
        top: -50px;
        right: 15px;
        background: $background-color;
        font-size: 30px;
        border: 0;
        padding: 10px;
        line-height: 18px;

    }
}
