// Set your brand colors
$white: #ffffff;
$white02: rgba(#ffffff, 0.2);
$white05: rgba(#ffffff, 0.5);
$black: #000000;
$black02: rgba(#000000, 0.2);
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$red: #eb4034;

$turquesa: #63d6c5;
$turquesa-dark:#51c2b2;
$purple: #683ba3;
$pink: #ed2853;
$yellow: #fff238;
$green: #0DBD73;


// Update Bulma's global variables
$family-sans-serif: 'Roboto Mono', monospace;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $yellow;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $primary;
$header-background-color: $turquesa-dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$main-padding: 15px;
$main-shadow: 0px 4px 4px rgba(#000000, 0.3);
