@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');


@import './_variables.scss';
// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/grid/_all.sass';
// @import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma-slider/dist/css/bulma-slider.sass';


h1 {
    font-size: 18px;
    margin: 30px 0;
}

html {
    background-color: $yellow;
    font-family: 'Roboto Mono', monospace;
}

svg {
    vertical-align: sub;
}

.button {
    display: inline-block;
    background-color: $purple;
    color: $white;
    margin-bottom: $main-padding;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s ease;
    border: 0px;

    &.is-danger {
        background-color: $pink;
    }

    &.is-success {
        background-color: $green;
    }

    &:hover {
        color: $yellow;
        letter-spacing: 5px;
    }
}

a {
    color: inherit;
}

.section {
    padding: 15px;
}
