@import 'styles/_variables.scss';

.header {
    height: 50px;
    background-color: $header-background-color;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    color: $purple;
    text-shadow: 2px 2px $yellow;
    letter-spacing: 3px;

    > span {
        line-height: 50px;
        
    }
}