@import 'styles/_variables.scss';

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    
    display: none;
    align-items: center;
    justify-content: center;

    opacity: 0;

    &.active {
        display: flex;
        opacity: 1;
    }
}

.modalWrapper {
    background: $white;
    padding: 30px;
    box-shadow: $main-shadow;
    border-radius: 4px;
}